@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", serif;
}

body {
  background: url(/assets/background/bg.gif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: larger;
}

header {
  background-color: #ffffff, 1.0;
  padding: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-text {
    text-decoration: none !important;
    text-shadow: none;
}


.card-body {
    height: 120px;
}

.card {
    border-top: 10px white solid;
    border-left: 10px white solid;
    border-right: 10px white solid;
    border-radius: 10px;
    padding-bottom: 10px;
   margin-bottom: 50px;
}

.container-fluid {
    height: 80vh;
    width: 100vh;
}

.carousel-indicators button{
  background-color: #c5c5c5 !important;
  align-self: end;
}

#carouselExample.hidden {
    display: none;
}

#coverImage {
  width: 240px;
  height: 360px;
}


#coverSection {
  height: 80vh;
}

#coverTitle {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width: 767px) {
  
  .container-fluid {
      height: 100vh;
      width: auto;
  }
      
  .card-body {
    display: flex;
    align-items: center;
  }

  .img {
    width: 100% !important;
    height: 100% !important;
  }
  
}

@media (max-width: 576px) {

  
  .container-fluid {
      height: 80vh!important;
      width: auto!important;
  }
     
  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 360px!important;
  }

  .img{
    width: 100%!important;
    height: 100%!important;
    position: relative;
  }

  .overflow-y-auto {
    width: 480px!important;
  }
  
}