*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff, 1.0;
  padding: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  background: url(/assets/background/bg.gif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: larger;
}

#bookSearch {
  text-align: center;
  width: 180px
}